In [1]:
import pandas as pd
import numpy as np
import import_ipynb
import MissingTables
import matplotlib.pyplot as plt
% matplotlib inline

from matplotlib.ticker import PercentFormatter

importing Jupyter notebook from MissingTables.ipynb

In [2]:
datafile = 'C:/Projects/DataScienceProject/application_train.csv'
data1 = pd.read_csv(datafile)
df = pd.DataFrame(data1)
data = df.copy()

In [3]:
data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
print('The Dimension of the dataset is:\n')
print('There are ' + str(data.shape[0]) + ' observations and ' + str(data.shape[1]) + ' variables in the dataset.')

The Dimension of the dataset is:

There are 307511 observations and 122 variables in the dataset.

In [5]:
DataTypes = data.dtypes.value_counts()
print('The data types information of the dataset are:')
DataTypes

The data types information of the dataset are:

float64    65
int64      41
object     16
dtype: int64

In [6]:
ObjectType = data.select_dtypes('object').apply(pd.Series.nunique, axis = 0)
print('The categorical variables and distinctive values are:')
ObjectType

The categorical variables and distinctive values are:

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [ ]:
IntType = data.select_dtypes('int64').apply(pd.Series.nunique, axis = 0)
print('The int variables and distinctive values are:')
IntType

The int variables and distinctive values are:

SK_ID_CURR                     307511
TARGET                              2
CNT_CHILDREN                       15
DAYS_BIRTH                      17460
DAYS_EMPLOYED                   12574
DAYS_ID_PUBLISH                  6168
FLAG_MOBIL                          2
FLAG_EMP_PHONE                      2
FLAG_WORK_PHONE                     2
FLAG_CONT_MOBILE                    2
FLAG_PHONE                          2
FLAG_EMAIL                          2
REGION_RATING_CLIENT                3
REGION_RATING_CLIENT_W_CITY         3
HOUR_APPR_PROCESS_START            24
REG_REGION_NOT_LIVE_REGION          2
REG_REGION_NOT_WORK_REGION          2
LIVE_REGION_NOT_WORK_REGION         2
REG_CITY_NOT_LIVE_CITY              2
REG_CITY_NOT_WORK_CITY              2
LIVE_CITY_NOT_WORK_CITY             2
FLAG_DOCUMENT_2                     2
FLAG_DOCUMENT_3                     2
FLAG_DOCUMENT_4                     2
FLAG_DOCUMENT_5                     2
FLAG_DOCUMENT_6                     2
FLAG_DOCUMENT_7                     2
FLAG_DOCUMENT_8                     2
FLAG_DOCUMENT_9                     2
FLAG_DOCUMENT_10                    2
FLAG_DOCUMENT_11                    2
FLAG_DOCUMENT_12                    2
FLAG_DOCUMENT_13                    2
FLAG_DOCUMENT_14                    2
FLAG_DOCUMENT_15                    2
FLAG_DOCUMENT_16                    2
FLAG_DOCUMENT_17                    2
FLAG_DOCUMENT_18                    2
FLAG_DOCUMENT_19                    2
FLAG_DOCUMENT_20                    2
FLAG_DOCUMENT_21                    2
dtype: int64

In [ ]:
data.describe()

In [ ]:
Columns = data.columns
print('The columns of dataset are:')
pd.Series(Columns)

In [ ]:
Missing_Table = MissingTables.miss_values_table(data)
Missing_Table.head(20)

In [ ]:
Features = data.drop(['SK_ID_CURR', 'TARGET'], axis = 1)
Labels = data['TARGET']

In [ ]:
plt.subplot(2, 1, 1)
plt.hist(Labels, weights=np.ones(len(Labels)) / len(Labels))
plt.title('Distribution of TARGET values')
plt.gca().yaxis.set_major_formatter(PercentFormatter(1))
plt.ylabel('Percentages')

plt.subplot(2, 1, 2)
plt.hist(Labels)
plt.xlabel('Values')
plt.ylabel('Frequency')

plt.show()

In [ ]:
fig, ax = plt.subplots()
labels = ['Being difficult to pay loan', 'Being able to pay loan on time']
PercentOfNotAble = 100 * (Labels.value_counts()[0]/len(Labels))
PercentOfAble = 100 * (Labels.value_counts()[1]/len(Labels))
percentages = [PercentOfNotAble, PercentOfAble]
explode=(0.1,0)
ax.pie(percentages, explode, labels, autopct='%0.2f%%', pctdistance=1.2, labeldistance=1.45)
ax.axis('equal')
ax.set_title("Distribution of TARGET values")
ax.legend(frameon=False, bbox_to_anchor=(1.5,0.8))